:root{
    --text-color:#434455;
    --brand-color:#4D5AE5;
    --back-color:#404BBF;
    --light-color:#F4F4FD;
    --fone-color:#E7E9FC;
    --dark-color:#2E2F42;
    --basic-color:#434455;
    --gen-color:#FFFFFF;
}
body{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--basic-color);
}
p,h1,h2,h3{
    margin-top: 0;
    margin-bottom: o;
}
.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.section{
    padding-top: 120px;
}
.img{
    display: block;
    max-width: 100%;
    height: auto;
}
....header{
   
}
.web{
    color:var(--brand-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.333;
}
.studio{
    color: var(--dark-color);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.333;
}
.header-nav{
display: flex;
align-items: center;
flex-grow: 1;

}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    justify-content: space-between;
}

.logo{
    color: var(--basic-color);
    text-decoration: none;
    
}
.head-link{
    
    color: var(--text-color);
    display: flex;
}
.social-links .head-link.current{
    color: var(--brand-color);
}
.social-links {
    color: var(--dark-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;    
}
.social-links{
    display: flex;
    width: 261px;
    justify-content: space-between;
    list-style-type: none;
    margin-block-end: 0;
    margin-block-start: 0;
}
.head-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--text-color);

}
.social-links a:hover,
.social-links a:focus{
    color: var(--brand-color);
}

.contacts{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    padding-inline-start: 0;
    margin: 24px 0px 24px 0px;
    
}
.mail{
    color:var(--text-color);
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.mail:hover,
.mail:focus {
    color: var(--brand-color);
}
.phone{
    color: var(--text-color);
    text-decoration: none;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 156px;
}
.phone:hover,
.phone:focus{
    color: var(--brand-color);
}
         

.section-baner{
    background-color: var(--dark-color);
    padding-top: 188px;
        padding-bottom: 188px;
        text-align: center;
        margin-left: auto;
        margin-right: auto
        outline: 1px solid black;
        max-width: 1440px auto
}
h1{
    color: var(--gen-color);
        font-family: inherit;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.2;
    
}
.name{
color: var(--gen-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.2;
    padding:188px 473px 188px 473px ;
        text-align: center;
        letter-spacing: 0.02em;
       
}
.button{
    color: var(--gen-color);
    cursor: pointer;
    background-color:var(--brand-color) ;
    border: 0px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 16px, 32px, 16px, 32px;
        gap: 10px;
        Width: 169px;
        Height: 56px;
        margin: 48px auto
}
.button:hover{
    background-color: var(--back-color);
}
.button:active{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.sextion-text{
background-color: var(--basic-color);
}
.title{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 120px 156px 120px 156px;

}
.section-paragraph{
    background-color: var(--gen-color);
}
h3{
    color:var(--dark-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.text{
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 8px;
}
h2{
    color: var(--dark-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    margin: 120px 558px 72px ;
}
.photo{
    list-style: none;
    margin: 112px 156px 120px 156px;
    display: flex;
    gap: 24px;
}
.photo-devices{
    flex-basis: (100%/3)-48px;
}
.section-team{
    background-color:var(--light-color);
}
.section-devices{
    background-color:var(--gen-color);
}
.main-team{
    color: var(--dark-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    padding: 120px;
}
.name-team{
    list-style: none;
}
.image-card{
    background-color: var(--gen-color);
}
.team{
    color: var(--dark-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.job-title{
    color: var(--text-color);
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
     line-height: 1.5;
}
.footer{
    background-color: var(--dark-color);

}
.web {
    color: var(--brand-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.333;
    
}
.studio-footer {
    color: var(--light-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.333;
}
.text-paragraph{
    color: var(--fone-color);
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.main-studio{
    background-color: var(--gen-color);
}
.main-button{
   list-style: none;
}

.button-all{
    cursor: pointer;
    color: var(--brand-color);
    background-color: var(--light-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid var(--light-color);;
    border-radius: 4px;
}
.button-all:hover{
    color: var(--light-color);
    background-color: var(--back-color);
}
.button-all:focus{
    color: var(--light-color);
    background-color: var(--back-color);
}
.button-all:active{
    color: var(--brand-color);
}
.button-all.current{
    color: var(--gen-color);
    background-color: var(--brand-color);
}
.button-web{
    cursor: pointer;
    color: var(--brand-color);
    background-color: var(--light-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid var(--fone-color);
     border-radius: 4px;
}
.button-web:hover,
button-web:focus{
    color: var(--gen-color);
    background-color: var(--back-color);
}
.list{
    list-style: none;
    text-decoration: none;
}
.list{
    display: block;
}
.list-portfolio{
    color: var(--dark-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.text-portfolio{
    color: var(--text-color);
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.footer-portfolio{
    background-color:var(--dark-color);
}

